html,
body,
th,
td {
  font-family: Roboto, sans-serif;
}

.monospace,
.form-control.monospace,
{
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  /*font-size: 0.7rem;*/
}

.App {
  max-width: 600px;
  margin: auto;
}

[class*="MuiDialog-dialog"] {
  width: 95% !important;
}

/*
html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.Mapping {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Mapping .form-group {
  height: 100%;
}

.Mapping textarea {
  height: calc(100% - 50px);
}
*/
